h1 { /*titre takuzu*/
    text-align : center;
    color: #FCA5B1;
    font-family: 'Happy Groovy', cursive;
    font-weight: bold;
    font-size: 4rem;
}

@media only screen and (max-width: 600px) { /*adaptation du titre selon la taille de la fenetre*/
    h1 {
        font-size: 2em;
    }
}

h2{
    color: #FCA5B1;
    font-family: 'Happy Groovy', cursive;
    font-weight: bold;
}


body {
    background-color: #fef4df;
    color: rgb(61, 1, 34);
}

ul li {
    color: #99624f; 
}

#grille {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px;
    cursor: pointer;
}

#restart, #solve, #undo, #redo{
    border:none;
    background-color: #fef4df;
    cursor: pointer;
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    background-color: #fcefd4;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
